[Unit]
Description=Rclone Cloud Mount
After=network.target

[Service]
User=vicky
Group=vicky
Type=forking
Restart=on-failure
RestartSec=30
TimeoutSec=90
WorkingDirectory=/home/vicky/Documents/scripts/cloudsync
ExecStart=/home/vicky/Documents/scripts/cloudsync/mountdrives.sh

[Install]
WantedBy=multi-user.target